---
import { instructors } from "../data/instructors";
import { schedules } from "../data/schedule";

/* -------------------------------------------------
   Instructor Cards
-------------------------------------------------- */

const instructorCards = instructors.map((ins) => {

  const instructorSchedules = schedules.filter(
    (s) =>
      s.active &&
      s.instructorId === ins.id
  );

  const days = [
    ...new Set(
      instructorSchedules.map((s) => s.weekday)
    )
  ];

  return {
    ...ins,
    schedules: instructorSchedules,
    days
  };

});
---

<section
  class="instructors"
  data-reveal="fade-up"
>

  <div class="container">


    <!-- ===========================
         Section Header
    ============================ -->

    <div
      class="section-header"
      data-reveal-group
    >

      <span
        class="section-badge"
        data-reveal
        data-reveal-delay="1"
      >
        اساتید آموزشگاه
      </span>


      <h2
        data-reveal
        data-reveal-delay="2"
      >
        تیم حرفه‌ای مدرسین موسیقی
      </h2>


      <p
        data-reveal
        data-reveal-delay="3"
      >
        آموزش توسط اساتید با تجربه در حوزه موسیقی کلاسیک و مدرن
      </p>


    </div>




    <!-- ===========================
         Instructor Cards
    ============================ -->


    <div
      class="instructors-grid"
      data-reveal-group
    >


      {instructorCards.map((ins) => (


        <a
          href={`/instructors/${ins.slug}`}
          class="instructor-card"
        >


          <div class="instructor-image">


            <img
              src={ins.media.images.profile}
              alt={ins.name}
              loading="lazy"
              decoding="async"
            />



            {ins.id === 1 && (


              <span class="badge">

                مدیر آموزشگاه

              </span>


            )}


          </div>



          <div class="instructor-content">


            <h3>

              {ins.name}

            </h3>



            <p>

              {ins.position}

            </p>




            {ins.days.length > 0 && (


              <div class="days-tags">


                {ins.days.map((day) => (


                  <span
                    class="day-tag"
                    aria-label={`روز حضور ${day}`}
                  >

                    {day}

                  </span>


                ))}


              </div>


            )}



          </div>



        </a>


      ))}


    </div>


  </div>


</section>